@font-face {
  font-family: farsi;
  src: url(Rubik-Regular.ttf);
}

body {
  font-family: farsi;
}

::selection {
  background: #787D62;
  color: black;
  text-shadow: none;
}

nav a:hover {
  color: #787D62;
  transition: 0.5s;
}

.footer-link i:hover {
  color: #787D62;
}

.swiper-wrapper {
width: 100%;
height: max-content !important;
padding-bottom: 64px !important;
-webkit-transition-timing-function: linear !important;
transition-timing-function: linear !important;
position: relative;
}
.swiper-pagination-bullet {
background: #787D62;
}
.swiper-pagination-bullet-active {
background: #787D62 !important;
}

#slide1 button:hover , #slide2 button:hover, #slide3 button:hover, #slide4 button:hover{
  color: #787D62;
}